/* ModalCrearPartida CSS */

.modal-action{
    width: 100%;
    text-align: center;
    justify-content: center;
  }
  
  .boton-crear-partida{
    justify-content: flex-start;
    margin-top: 20px;
  }
  
  .crear-partida-form{
    width: 100%;
  }
  
  .label-modal-crear-partida{
    width: 100%;
    align-items: center;
  }
  
  .input-modal-crear-partida{
    width: 100%;
    text-align: left;
  }
  
  .submit-crear-partida{
    display: flex;
    margin-top: 20px;
    width: 160px;
  }

  .error {
    color: rgba(221, 27, 27, 0.781);
    padding: 10px;
  }

  .message {
    color: rgba(19, 214, 45, 0.781);
    padding: 10px;
  }  

  /* --- */