.cartas-movimientos {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.cartas-movimientos-propias {
  display: flex;
  flex-direction: column;
  gap: 10px; /* Espacio entre las cartas */
}

.cartas-movimientos-propias img {
  width: 95px; /* Ajusta el tamaño según sea necesario */
  height: auto;
  background-color: rgb(206, 191, 172); /* Fondo blanco para cada imagen */
  padding: 1px; /* Espacio alrededor de la imagen */
  border-radius: 5px; /* Bordes redondeados */
}