.cartas-figuras {
  position: absolute;
  display: flex;
  max-height: 660px;
  max-width: 660px;
  width: 100vh;
  height: 100vh;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  /* flex-direction: row; */
  z-index: 600;
}

.cartas-figuras-propias {
  position: absolute;
  bottom: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.cartas-figuras-propias img {
  width: 12vh;
  height: auto;
  background-color: rgb(206, 191, 172);
  padding: 1px;
  border-radius: 0.6vh;
}

.cartas-figuras-oponente-1.filas{
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
  z-index: 0;
}
.cartas-figuras-oponente-1.columnas{
  position: absolute;
  right: 15px;
  display: flex;
  flex-direction: column-reverse;
  gap: 10px;
  z-index: 0;
}

.cartas-figuras-oponente-1 img {
  width: 12vh;
  height: auto;
  background-color: rgb(206, 191, 172);
  padding: 1px;
  border-radius: 0.6vh;
}

.cartas-figuras-oponente-2 {
  position: absolute;
  top: 15px;
  display: flex;
  flex-direction: row-reverse;
  gap: 10px;
}
.cartas-figuras-oponente-2 img {
  width: 12vh;
  height: auto;
  background-color: rgb(206, 191, 172);
  padding: 1px;
  border-radius: 0.6vh;
}
.cartas-figuras-oponente-3 {
  position: absolute;
  left: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.cartas-figuras-oponente-3 img {
  width: 12vh;
  height: auto;
  background-color: rgb(206, 191, 172);
  padding: 1px;
  border-radius: 0.6vh;
}