.cartas-movimientos {
    display: flex;
    flex-direction: row;
    gap: 10px; /* Espacio entre las cartas */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 100vh; /* Ajusta según sea necesario */
  }
  
  .carta-movimiento img {
    width: 100px; /* Ajusta el tamaño según sea necesario */
    height: auto;
    background-color: white; /* Fondo blanco para cada imagen */
    padding: 1px; /* Espacio alrededor de la imagen */
    border-radius: 5px; /* Bordes redondeados */
  }